<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/mahardan-oup/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="mahardan-oup" />
            <add key="ClearTextPassword" value="5a30d971107030b4f5d3d0e27d179ae9d3f472c5" />
        </github>
    </packageSourceCredentials>
</configuration>

<!-- https://help.github.com/en/github/managing-packages-with-github-packages/configuring-dotnet-cli-for-use-with-github-packages#installing-a-package -->